{% load static %}
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <title>Projeto Fred</title>

    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body >
{% include 'nav.html' %}

<div class="container">
  <svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg" width="300.87" height="402.65" viewBox="0 0 300.87 402.65">
    <title>fred2</title>
    <path d="M753.31,463.09c22.81,4.67,45.77,9.34,68.58,14a121,121,0,0,0,5.51-36.55c0-60.45-42.95-109.5-96.12-109.5-52.7,0-95.33,48.22-96.11,108C674.65,447.15,714,455,753.31,463.09Z" transform="translate(-587.72 -191.26)" style="fill: #ffe8bf;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
    <path d="M811,383.81c20.76-9.62,41.21-19.79,61.82-29.68,17.46-8.38,17.31-8.38,7.87-23.77-2.83-4.81-5.35-4.95-10.23-2.47C845.8,340.12,821,351.79,796.41,364" transform="translate(-587.72 -191.26)" style="fill: #ffe8bf;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
    <path id="pernaes" d="M654.2,509.39a16.46,16.46,0,0,0-9.28,3.71c-14.95,12.36-30,24.73-45,37.23-6.45,5.36-6.14,12.51.15,18.28,6.14,5.77,14.32,6.32,20.93,1.1,15.1-12.23,30-24.74,45.15-37.1,5-4.12,5.5-9.07,2.83-14.43C666,512.55,660.81,510.08,654.2,509.39Z" transform="translate(-587.72 -191.26)" style="fill: #ffe8bf;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
    <path id="pernad" d="M847.22,577.67c-.31-.82-.47-2.61-1.42-3.84-9.12-12.23-18.56-24.32-27.84-36.69-2.2-2.88-3.46-1.37-5.35.14-5,4.26-10.07,8.66-15.57,12.5-3.15,2.2-3.46,3.85-1.26,6.74,7.87,10,15.57,20.06,23.28,30.22,4.09,5.22,9.75,6.87,16.36,4.81C842.5,589.49,846.91,585.37,847.22,577.67Z" transform="translate(-587.72 -191.26)" style="fill: #ffe8bf;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
    <path id="cabecaf" d="M762.9,338.6c26.9-7.28,43.42-32.7,40.27-54.54-3.46-23.5-13.84-44.52-30-63.21-5.35-6.18-11.64-11.81-19.67-15.52-9.91-4.54-19.5-4.4-29.1.82A48.47,48.47,0,0,0,710.2,218c-14.31,16.35-22.65,35-27.06,55-6.44,29.81,4.41,47.81,35.09,60.73" transform="translate(-587.72 -191.26)" style="fill: #ffe8bf;stroke: #000;stroke-linecap: round;stroke-miterlimit: 10;stroke-width: 3px"/>
    <polygon id="cabelo" points="157.25 11.87 147.65 10.49 152.84 1.15 157.25 11.87" style="stroke: #000;stroke-linecap: round;stroke-miterlimit: 10"/>
    <path id="boca" d="M751.58,269.91c-18.41-1-32.57,11.54-32.73,28.85a29.35,29.35,0,0,0,27.22,29.54c19.19,1.51,34.29-13.6,32.72-31.6C777.53,282,765.58,270.59,751.58,269.91Z" transform="translate(-587.72 -191.26)"/>
    <path id="olhoee" d="M732.7,229.1c-6.14-.28-11.49,6-11.8,14-.32,8.52,4.72,15.67,11.17,16.08s10.54-5.36,11-14.7C743.55,235.69,739.3,229.37,732.7,229.1Z" transform="translate(-587.72 -191.26)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
    <path id="dente" d="M751.73,275c-5.19.14-10.38.69-9.75,7.56.31,4.53.79,7,7.24,7,6.29,0,7.7-2.47,6.6-8.24C755,279.66,758.65,274.71,751.73,275Z" transform="translate(-587.72 -191.26)" style="fill: #fff"/>
    <path id="olhode" d="M760.23,234.18c-5.67-.14-10.39,5.5-10.39,12.37s4.72,12.64,10.23,12.64,10.23-5.63,10.38-12.5C770.3,239.68,765.89,234.18,760.23,234.18Z" transform="translate(-587.72 -191.26)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
    <g id="frauda">
      <path d="M632,514.88c1.89-1.37,3.46-2.47,5-3.71,15.42-12.36,29.89-10.3,39.65,6.05,1.57,2.75,3.61,2.75,6.13,3,40.59,3.58,81.17,7,121.76,10.72,4.25.41,6.92-.82,9.28-3.71a122.67,122.67,0,0,0,18.88-30.64c2.51-5.77,1.1-7.14-6-7.14-54.9-.28-110-1-164.86-1.52-12.27-.13-24.54-.41-37-.68-3.46-.14-5.82.41-4.56,4.12C623.37,499.5,626.51,507.33,632,514.88Z" transform="translate(-587.72 -191.26)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <path d="M803.49,536.87c-10.54-1-19.82-1.79-29.1-2.61q-44.61-3.91-89.2-7.56c-2.67-.27-6.29-1.65-7.39,1.92-1.89,5.91-7.08,9.62-12.12,13.19-4.4,3.16-3,4.68,1,6.87a132.21,132.21,0,0,0,22.81,10.58C728.29,572.32,777.69,563,803.49,536.87Z" transform="translate(-587.72 -191.26)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <path d="M727.35,479.57H830.23c3.15,0,6.45.55,7.08-3.71.63-4.67-3.15-4.12-6-4.67-25.64-5.08-51.12-10.17-76.77-15.11-42.94-8.38-86-16.63-128.83-25.28-5-1-6.93-.28-7.71,4.53-2,11.95-3,23.77-1.42,35.72C617.23,475.86,722,479.57,727.35,479.57Z" transform="translate(-587.72 -191.26)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
    </g>
    <path id="bracoe" d="M681.41,350.28c-20.6-10.85-43.1-22.94-64-33.52-16.68-8.52-16.52-8.38-26.43,6.32-3,4.39-2.2,6.59,3,9.07,23,11.4,47.51,22.67,70.47,34.07" transform="translate(-587.72 -191.26)" style="fill: #ffe8bf;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
    <ellipse id="olhoe" cx="143.09" cy="54.32" rx="5.35" ry="4.67"/>
    <ellipse id="olhod" cx="172.35" cy="55.42" rx="5.19" ry="4.53"/>
  </svg>

</div>


     <h1 class="jumbotron-heading text-xs-center">Ensine o Fred um pouco de Ética</h1>
        <p class="lead text-xs-center">
          Este aplicativo te permite conversar com o Fred.
        </p>


    <div id="app" class="container top-padding">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-12">
                <div class="card col-md-6" v-for="message in messages" v-bind:class="{ 'user-message': message.user,  'chat-message': message.chat_bot, 'offset-md-6': message.chat_bot}">
                    <div class="card-content">
                        [[message.text]]
                    </div>
                </div>
            </div>

        </div>
        <div id="text-box" class="row top-padding">
            <div class="col-md-8 offset-md-2 col-sm-12">
                <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s6">
                          <i class="material-icons prefix">mode_edit</i>
                          <textarea id="icon_prefix2" class="materialize-textarea" v-bind:placeholder="placeholder" v-model="input" v-bind:class="{ 'border-danger': send_blank}" v-on:change="check_content"></textarea>
                          <label for="icon_prefix2"></label>
                        </div>
                          <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" v-on:click="add_message">sms</i></a>
                      </div>

                    </form>
                  </div>
            </div>
        </div>
    </div>

</div>

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
 </footer>


    <script type="text/javascript" src="/static/js/dev-vue.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>


</body>

</html>
